.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    padding: 40px 60px 40px 60px
}

.input {
    width: 400px;
    height: 30px;
}

.submit-cta {
    height: 40px;
}